<div class="w-100 row">
    <div class="col-2">
        <div class="bg-dark pt-5" style="height: 93vh;">
            <h5 class="text-center">
                <a routerLink="/home" class="text-light text-decoration-none">Home</a>
            </h5>
            <h5 class="text-center mt-5">
                <a routerLink="/employee" class="text-light text-decoration-none">Employee</a>
            </h5>
        </div>
    </div>
    <div class="col-10 p-3">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h3>Add Employee Details</h3>
            <div class="w-50 border-shadow p-3">
                <form #empForm="ngForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingEmpID" #empId="ngModel" name="id" [(ngModel)]="emp.id" required pattern="[0-9]*" maxlength="4" placeholder="Employee ID">
                        <label for="floatingEmpID">Employee ID</label>
                    </div>
                    <div class="text-danger" *ngIf="empId.touched && empId.invalid">
                        *Invalid ID
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingEmpName" #empUser="ngModel" name="username" [(ngModel)]="emp.username" required pattern="a-zA -z0-9@_" minlength="3" placeholder="Employee Name">
                        <label for="floatingEmpName">Name</label>
                    </div>
                    <div class="text-danger" *ngIf="empUser.touched && empUser.invalid">
                         *Invalid Username
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control"  id="floatingInput" #empEmail="ngModel" name="email" [(ngModel)]="emp.email" required email placeholder="name@example.com">
                        <label for="floatingInput">Email Address</label>
                    </div>
                    <div class="text-danger" *ngIf="empEmail.touched && empEmail.invalid">
                        *Invalid Email
                    </div>
                    <div class="form-floating mb-3">
                        <select name="kk" id="floatingstatus" class="form-control" #empStatus="ngModel" name="status" [(ngModel)]="emp.status">
                            <option disabled hidden selected></option>
                            <option value="active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <label for="floatingstatus">Status</label>
                    </div>
                    <div class="text-danger" *ngIf="empStatus.touched && empStatus.invalid">
                        *Invalid Status
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success" (click)="handleSubmit()">Save</button>
                        <button type="submit" class="btn btn-danger" >Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

